.table-tr{
    background-color: #ccffbd;
    padding: 10px;
}

.order-area{
    background-color: rgb(236, 233, 233);
    
}
.orders h3{
    margin: 5px;
}

.orders{
    background-color:#dbf6e9;
    padding: 10px;
}